// @import "bootstrap-sprockets";
// @import "bootstrap";

/* form */
#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
.form-control {
    border-radius: 30%
}